img {
  width: 250px;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.eachproject {
  border: 1px solid #EEEEEE;
  background-color: #f6f6f6;
  padding: 10px;
  padding-bottom:50px;
  margin: 10px;
}

.eachproject img {
  float: right;
  width: 110px;
  border-radius: 5px;
  border: 4px solid #d1dcff;
  padding: 2px;
}
