img {
  width: 250px;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.column {
  border: 2px solid #EEEEEE;
  background-color: #f6f6f6;
  padding: 5px;
  margin: 10px;
}
.column h2 {
  text-align: center;
}

.column p {
  float: left;
}
